<!-- <div class="return-book-container"> -->
<!-- <h2>Return Book</h2> -->
<!-- <p>Book ID: {{ bookId }}</p> -->
<!-- <p>Borrower ID: {{ borrowerId }}</p> -->
<!-- <button (click)="returnBook()">Confirm Return</button> -->
<!-- </div> -->

<!-- <div class="return-book-container"> -->
<!-- <h2>Return this Book</h2> -->

<!-- Borrow Book Form -->
<!-- <form [formGroup]="returnForm" (ngSubmit)="returnBook()"> -->
<!-- <div> -->
<!-- <label for="borrowerId">Borrower ID</label> -->
<!-- <input -->
<!-- id="borrowerId" -->
<!-- formControlName="borrowerId" -->
<!-- placeholder="Enter Borrower ID" -->
<!-- /> -->
<!-- Show error if borrowerId is invalid and touched -->
<!-- <div -->
<!-- *ngIf=" -->
<!-- returnForm.get('borrowerId')?.invalid && -->
<!-- returnForm.get('borrowerId')?.touched -->
<!-- " -->
<!-- > -->
<!-- Borrower ID is required. -->
<!-- </div> -->
<!-- </div> -->
<!--  -->
<!-- <button type="submit" [disabled]="returnForm.invalid">Submit</button> -->
<!-- </form> -->
<!-- </div> -->

<div class="add-book-container">
  <form class="form" [formGroup]="returnForm" (ngSubmit)="returnBook()">
    <div class="title">Return Book</div>
    <div class="subtitle">Let's return this Book to the library</div>

    <div class="input-container ic2">
      <!-- <input id="genre" class="input" type="text" placeholder=" " formControlName="genre" required/> -->
      <select class="input" id="borrower" formControlName="borrowerId" required>
        <option value="" disabled>Select the Borrower</option>
        <option *ngFor="let borrower of borrowers" [value]="borrower.id">
          {{ borrower.name }}
        </option>
      </select>
      <div class="cut"></div>
      <label for="borrower" class="placeholder">Borrower</label>
    </div>

    <button type="submit" class="submit">Return Book</button>
    <div>
      <button class="navBack" (click)="navigateToLibrary()">
        Back to Library
      </button>
    </div>
    <!-- 
  <label for="title">Title</label>
  <input id="title" formControlName="title" required />

  <label for="isbn">ISBN</label>
  <input id="isbn" formControlName="isbn" required />



  <label for="publishedDate">Published Date</label>
  <input
    id="publishedDate"
    type="date"
    formControlName="publishedDate"
    required
  />

  <label for="genre">Genre</label>
  <input id="genre" formControlName="genre" required />

  <label for="author">Author</label>
  <select id="author" formControlName="authorId" required>
    <option value="" disabled>Select an author</option>
    <option *ngFor="let author of authors" [value]="author.id">
      {{ author.name }}
    </option>
  </select>

  <button type="submit">Add Book</button> -->
  </form>
</div>
